@model CategoriaLaboral
@{
    ViewData["Title"] = "Eliminar categoría";
}

<h1>Eliminar categoría laboral</h1>
<p>¿Seguro que quieres eliminar la categoría <strong>@Model.Descripcion</strong>?</p>
<form method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit">Eliminar</button>
    <a asp-action="Index" class="secondary-btn">Cancelar</a>
</form>
