@model Alimentacion
@{
    ViewData["Title"] = "Detalle de la alimentación";
}

<h1>@Model.Nombre</h1>
<div class="detail-card">
    <p><strong>Id:</strong> @Model.Id</p>
    <p><strong>Dieta:</strong> @Model.Nombre</p>
</div>
